html, body {
  height: 100%;
}

body {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  background: #f0f0f0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.header {
  margin-bottom: 3em;
}

.header > * {
  margin: 0;
  text-align: center;
}

.group {
  display: none;
}

.group.loading {
  text-align: center;
  display: block;
}

.group.error {
  padding: 1em;
  color: #ff3f3f;
}

.form-row {
  margin-bottom: .5em;
}

label {
  display: block;
  font-weight: bold;
}

input {
  font-size: 1em;
}

#form {
  display: none;
}
